$dark-blue: #15202b;
$contrast-blue: #192734;
$bg: #22303c;

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-radius: 0 0 10px 10px;
  align-items: center;

  background-color: $bg;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

.nav-link{
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
}
