<app-navbar></app-navbar>
<div style="display: flex" class="movie-card">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto">
    <mat-card-header class="movie-card-header">
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="
          openDirector(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth
          )
        "
        aria-label="Click for a biography of this director"
      >
        Director
      </button>
      <button
        (click)="openSynopsis(movie.Title, movie.Description)"
        color="primary"
        aria-hidden="false"
        aria-label="Click for a plot synopsis of this movie"
      >
        Synopsis
      </button>
      <button
        *ngIf="isFavoriteMovies(movie._id) === false"
        mat-button
        (click)="addFavorite(movie._id)"
        color="primary"
        aria-label="Click to add this movie to your favorites"
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
      
      <button
        mat-button
        *ngIf="isFavoriteMovies(movie._id) === true"
        (click)="deleteFavorite(movie._id)"
        color="primary"
        aria-label="Click to remove this movie from your favorites"
      >
        <mat-icon class="mat-icon__style">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
